{% load static %}


<p>
	<!-- <form method="get" action='/tictac/{{username}}'> -->
	<h3>Enter the Game ID after URL (for Example www.zerokaata.com/gameid)</h3>
			<!-- <form action="" method="POST">
			{% csrf_token %}
			Title: <input type="text" name="title"/><br/>
			Content: <br/>
			<textarea cols="35" rows="8" name="content">
			</textarea><br/>
			<input type="submit" value="Post"/>
			</form>
			</body> -->
	<!-- <input type="submit" name="submit-button" onClick="location.href='base1.html'" value="Play!" /> -->
	<!-- </form> -->
</p>